@import "tailwindcss";

h1 {
  font-size: 3.2em;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
  font-weight: 500;
}

.header {
  background-color: #747bff;
  color: #ddd;
  padding:  30px;
  border-radius: 10px;
}